<!-- <h1>Hello world Angular</h1>
This is my {{title}}
<br/>
My village ninja's name is {{ninjaName}}
<div>
<button type="button" (click)="ninjaConsole()">Console ninja</button>
<button type="button" (click)="changeNinjaName('Sakura')">Change Ninja Name to Sakura</button>
<button type="button" (click)="changeNinjaName('Naruto')">Change Ninja Name to Naruto</button>
<button type="button" (click)="changeNinjaName('Sasuke')">Change Ninja Name to Sasuke</button>
</div> -->

<h1>คำนวณบุฟเฟ่ต์</h1>
<span>มา 4 คน จ่าย 3</span>
<div>
  <input #priceBuffetInput type="text" placeholder="ราคาบุฟเฟต์" />
  <button (click)="calBuffet(priceBuffetInput.value)">คำนวณ</button>

</div>
<span>คนละ {{value}} บาท</span>